In [1]:
sales<-c(15,20,25,10,30)
sales

[1] 15 20 25 10 30

In [2]:
sales=c(15,20,25,10,30)
sales

[1] 15 20 25 10 30

In [3]:
assign("sales ",c(15,20,25,10,30))
sales

[1] 15 20 25 10 30

In [4]:
c(15,20,25,10,30)->sales
sales

[1] 15 20 25 10 30

In [5]:
length(sales)

[1] 5

In [6]:
fruits<-c("A","B","C","D","E")
names(sales)<-fruits
sales

 A  B  C  D  E
15 20 25 10 30

In [7]:
sales2<-matrix(0,2,5)
sales2

     [,1] [,2] [,3] [,4] [,5]
[1,] 0    0    0    0    0
[2,] 0    0    0    0    0

In [8]:
sales2[1,]<-c(15,20,25,10,30)
sales2[2,]<-c(10,25,20,25,20)
sales2

     [,1] [,2] [,3] [,4] [,5]
[1,] 15   20   25   10   30
[2,] 10   25   20   25   20

In [9]:
dim(sales2)

[1] 2 5

In [10]:
nrow(sales2)

[1] 2

In [11]:
ncol(sales2)

[1] 5

In [12]:
sales2[2,3]

[1] 20

In [13]:
(sales2[2,3]<-30)

[1] 30

In [14]:
sales2[2,3]<-20
sales2

     [,1] [,2] [,3] [,4] [,5]
[1,] 15   20   25   10   30
[2,] 10   25   20   25   20

In [15]:
colnames(sales2)<-fruits

In [16]:
rownames(sales2)<-c("A","B")

In [17]:
sales2

  A  B  C  D  E
A 15 20 25 10 30
B 10 25 20 25 20

In [18]:
DF1<-data.frame(cbind(LETTERS[1:4],3:0))
DF1

  X1 X2
1 A  3
2 B  2
3 C  1
4 D  0

In [19]:
colnames(DF1)<-c("A","B")
DF1

  A B
1 A 3
2 B 2
3 C 1
4 D 0

In [20]:
as.matrix(DF1)

     A B
[1,] A 3
[2,] B 2
[3,] C 1
[4,] D 0

In [21]:
(AR1<-array(1:30,c(2,5,3)))

, , 1

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    3    5    7    9
[2,]    2    4    6    8   10

, , 2

     [,1] [,2] [,3] [,4] [,5]
[1,]   11   13   15   17   19
[2,]   12   14   16   18   20

, , 3

     [,1] [,2] [,3] [,4] [,5]
[1,]   21   23   25   27   29
[2,]   22   24   26   28   30

In [22]:
L1<-list(c(1:8),c("A","B"),matrix(1:12,2,6))
L1

[[1]]
[1] 1 2 3 4 5 6 7 8

[[2]]
[1] "A" "B"

[[3]]
     [,1] [,2] [,3] [,4] [,5] [,6]
[1,]    1    3    5    7    9   11
[2,]    2    4    6    8   10   12

In [23]:
class(sales)

[1] "numeric"

In [24]:
class(sales2)

[1] "matrix" "array"

In [25]:
class(DF1)

[1] "data.frame"

In [26]:
class(L1)

[1] "list"

In [27]:
is.vector(sales)

[1] TRUE